<div class="content">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-4"><%= tenant.name %></p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <small class="has-text-grey">Created: <%= tenant.created_at.strftime("%B %d, %Y") %></small>
      </div>
    </div>
  </div>
</div>
