<div class="container">
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="box">
        <h1 class="title is-3">Editing tenant</h1>

        <%= render "form", tenant: @tenant %>

        <div class="buttons mt-4">
          <%= link_to "Show this tenant", @tenant, class: "button is-info" %>
          <%= link_to "Back to tenants", tenants_path, class: "button is-light" %>
        </div>
      </div>
    </div>
  </div>
</div>
